# Ignore editor files
.vscode/
*.code-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
